@font-face {
  font-family: general;
  src: url(/Css/FontsFree-Net-AvenirLTStd-Book.ttf);
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

body {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (100px)[15];
      grid-template-rows: repeat(15, 100px);
  grid-auto-rows: minmax(100px, auto);
  background-color: #0a0a0a;
}

.container header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/ 13;
  max-height: 500px;
  padding: 15px 10px;
  z-index: 100;
}

.container header .logo {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  font-weight: 750;
  line-height: 34px;
  position: relative;
  color: #ffffff;
  letter-spacing: 1.5px;
  font-family: general;
  margin-left: 5px;
}

.container header .logo b {
  color: rgba(247, 211, 10, 0.952);
  font-weight: bolder;
}

.container header .menu-burger {
  width: 3em;
  height: 2.5em;
  max-height: 2.5em;
  position: relative;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  top: 3px;
}

.container header .menu-burger .menu-icon {
  width: 80%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.container header .menu-burger #m-icon-2 {
  top: 10px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.container header .menu-burger #m-icon-3 {
  top: 20px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.container header .menu-burger .clicked {
  display: none;
  -webkit-transition: display 0.5s ease-in;
  transition: display 0.5s ease-in;
}

.container header .menu-burger .rotate-1 {
  -webkit-transform: rotate(-43deg);
          transform: rotate(-43deg);
  top: 19.5px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.container header .menu-burger .rotate-2 {
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
  right: 9px;
  top: -5px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.container header .menu-items {
  clear: both;
  width: 100%;
  max-height: auto;
}

.container header .menu-items ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  max-height: 0;
  -webkit-transition: max-height 1s ease;
  transition: max-height 1s ease;
}

.container header .menu-items .open {
  max-height: 100vh;
  padding-bottom: 30px;
  border-bottom: 1px solid #ffffff;
  border-radius: 20px;
}

.container header .menu-items li {
  list-style: none;
  text-align: center;
}

.container header .menu-items li a {
  text-decoration: none;
  padding: 15px 5px;
  color: #ffffff;
  font-size: 22px;
  display: block;
}

.container header .menu-items li a:hover {
  background-color: #0000008a;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  color: rgba(247, 211, 10, 0.952);
}
/*# sourceMappingURL=styles.css.map */